html {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 30px 0 0 0;
    background-color: rgba(220, 220, 220, 0.85);
    display: inline-block;
    overflow: auto;
    resize: none;   
}


.title {
    font-weight: bold;
    font-size: 20px;
    margin: 20px 10px 10px;
}



